.country_btn{
  position: relative;
  padding-right: 13px;
}

.country_btn:after{
  content:'';
  position: absolute;
  display: block;
  right: 0;
  top:50%;
  transform: translateY(-50%);
  width: 9px;
  height: 6px;
  background:url('../img/Polygon.svg') no-repeat center;
}

.country_list{
  display: none;
}