.footer{
  padding: 20px 0 30px;
  background-color: black;
  color: #ffffff;
}

.footer_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap:30px;
  margin-bottom: 40px;
}

.footer_navigation{
  flex-basis: 100%;
}

.footer_copyright{
font-size: 14px;
font-weight: 200;
}

@media(min-width:560px){
  .footer_navigation{
    flex-basis: auto;
  }

  .footer_content{
    margin-bottom: 45px;
  }
}

@media(min-width:1024px) {
  .footer_copyright{
    font-size: 16px;
  }
}