.form{
  display: flex;
  flex-direction: column;
  gap:16px;
  align-items: center;
}

.form_label{
  position: relative;
  width: 225px;
}

.form_placeholder{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left:8px;
  font-size: 14px;
  color: #9E9C9C;
  transition: top .2s ease-in-out;
}

.form_placeholder_active{
  top: -8px;
}

.form_input{
  width: 100%;
  height: 46px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: none;
}

.form_input:focus{
  outline-color: #9E9C9C;
}

.form_submit{
  background: #2238FF;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  height: 46px;
  width: 225px;
}

@media(min-width:1024px) {
  .form{
    flex-direction: row;
    gap:22px;
  }

  .form_placeholder_active {
      top: -10px;
  }
}