.goods{
  padding: 40px 0;
}

.goods_tagline{
  margin-bottom: 4px;
  text-align: center;
}

.goods_title{
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 29px;
  text-align: center;
} 

.goods_helper{
  position: relative;
} 
.goods_arrow{
  position: absolute;
  top: 115px;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../img/left.svg);
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
  z-index: 5;
} 

.goods_arrow_prev{
  left:-5px;
}

.goods_arrow_next{
  right:-5px;
  transform: rotate(180deg);
}

@media(min-width:768px){
  .goods_title {
      margin-bottom: 36px;
    }

  .goods_arrow{
    top: 150px;
  }

  .goods_arrow_prev {
      left: 10px;
  }

  .goods_arrow_next{
    right:10px;
  }
}

@media(min-width:1024px) {
  .goods{
    padding: 70px 0;
  }
  .goods_tagline{
    font-size: 20px;
    margin-bottom: 8px;
  }

  .goods_title{
    font-size:40px ;
    margin-bottom: 40px;
  }

  .goods_arrow {
    top: 135px;
    width: 90px;
    height: 90px;
  }

  .goods_arrow_prev {
    left: 2px;
  }

  .goods_arrow_next {
    right: 2px;
  }
}

@media(min-width:1440px) {
  .goods_arrow {
    top: 135px;
    width: 90px;
    height: 90px;
  }

  .goods_arrow_prev {
    left: 18px;
  }

  .goods_arrow_next {
    right: 18px;
  }
}