.navigation_list{
  display: flex;
  gap:20px 50px;
}

.navigation_list-mob{
  flex-direction: column;
}

@media (min-width: 560px) {
  .navigation_list {
    flex-direction: row;
  }

}

@media (min-width: 1024px) {
  .navigation_list{
    gap: 84px;
  }

}