.timer{
  display: flex;
  gap:4px;
  justify-content: center;
  text-align: center;
} 

.timer_item{
  flex: 0 0 80px;
  
} 
.timer_unit{
  background-color: #A3B6C7;
  border-radius: 6px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 26px;
  padding: 8px;
  margin-bottom: 4px;
} 
.timer_unit_description{
  font-weight: 300;
}

@media(min-width:1024px){
  .timer{
    gap:8px;
  }

  .timer_item{
  flex-basis: 120px;
  }

  .timer_unit{
    font-size: 40px;
    padding: 11px;
    margin-bottom: 8px;
  }

  .timer_unit_description{
    font-size: 20px;
  }
}